<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <%- include('../../partials/navbar', {username: username}); %>

    <div style="width:50%; margin:auto">
  
      <div style="text-align: center;">===========City Hall============</div><br>
      <div style="text-align: center;">
        Village Name: <a href="/village/?villageID=<%= villageData.villageID %>"><%= villageData.name %></a> (<%= villageData.positionX %>x<%= villageData.positionY %>)
        <br>
        Owned by : <a href="/profile/<%= owner.username %>"><%= owner.username %></a>
      </div>

      <br>

      <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
          width:14%;
        }
        </style>

    <br>
    <div style="text-align: center;">==========Buildings===========</div><br>

    <table>
      <tr>
        <td>Building</td>
        <td>Current Level</td>
        <td>Resources to next level</td>
        <td>Time to build</td>
        <td>Action</td>
      </tr>
      <tr>
          <td><a href="/building/cityhall?villageID=<%= villageData.villageID %>">CityHall</a></td>
          <td><%= buildings.cityHall %></td>
          <td>100🌳 50🔩 120🧱 20🌿</td>
          <td>30m</td>
          <td><a href="/building/upgrade/?villageID=<%= villageData.villageID %>&type=cityHall">Upgrade</a></td>
      </tr>
      
      <tr>
        <td><a href="/building/barracks?villageID=<%= villageData.villageID %>">Barracks</a></td>
        <td><%= buildings.barracks %></td>
        <td>100🌳 50🔩 120🧱 20🌿</td>
        <td>30m</td>
        <td><a href="/building/upgrade/">Upgrade</a></td>
      </tr>

      <tr>
        <td><a href="/building/mine?villageID=<%= villageData.villageID %>">Mine</a></td>
        <td><%= buildings.mine %></td>
        <td>100🌳 50🔩 120🧱 20🌿</td>
        <td>30m</td>
        <td><a href="/building/upgrade/">Upgrade</a></td>
      </tr>

      <tr>
        <td><a href="/building/lumberjack?villageID=<%= villageData.villageID %>">Lumberjack</a></td>
        <td><%= buildings.lumberjack %></td>
        <td>100🌳 50🔩 120🧱 20🌿</td>
        <td>30m</td>
        <td><a href="/building/upgrade/">Upgrade</a></td>
      </tr>

      <tr>
        <td><a href="/building/claymine?villageID=<%= villageData.villageID %>">Claymine</a></td>
        <td><%= buildings.claymine %></td>
        <td>100🌳 50🔩 120🧱 20🌿</td>
        <td>30m</td>
        <td><a href="/building/upgrade/">Upgrade</a></td>
      </tr>

      <tr>
        <td><a href="/building/farm?villageID=<%= villageData.villageID %>">Farm</a></td>
        <td><%= buildings.farm %></td>
        <td>100🌳 50🔩 120🧱 20🌿</td>
        <td>30m</td>
        <td><a href="/building/upgrade/">Upgrade</a></td>
      </tr>

      <tr>
        <td><a href="/building/wall?villageID=<%= villageData.villageID %>">Wall</a></td>
        <td><%= buildings.wall %></td>
        <td>100🌳 50🔩 120🧱 20🌿</td>
        <td>30m</td>
        <td><a href="/building/upgrade/">Upgrade</a></td>
      </tr>
    </table>

    <br>

    <div style="text-align: center;">==========Resources===========</div>
    <div style="text-align: center;">
      <% d = new Date() %>
      Wood :  <span id="wood_resource"><%= Math.floor ( ( d.getTime() / 1000 - resources.checkpointTime ) * 60 / 3600  + resources.wood )%></span> 🌳 |
      Metal : <span id="metal_resource"><%= Math.floor ( ( d.getTime() / 1000 - resources.checkpointTime ) * 60 / 3600  + resources.metal )%></span> 🔩 |
      Clay :  <span id="clay_resource"><%= Math.floor ( ( d.getTime() / 1000 - resources.checkpointTime ) * 60 / 3600  + resources.clay )%></span> 🧱 |
      Food :  <span id="food_resource"><%= Math.floor ( ( d.getTime() / 1000 - resources.checkpointTime ) * 60 / 3600  + resources.food )%></span> 🌿
    </div>



    </div>

    <script>
    function setResources() {

      let d = new Date();
      let v = Math.floor ( ( d.getTime() / 1000 - <%=resources.checkpointTime %> ) * 60 / 3600  + <%= resources.wood %> )
      document.getElementById('wood_resource').innerHTML = v;
      v = Math.floor ( ( d.getTime() / 1000 - <%=resources.checkpointTime %> ) * 60 / 3600  + <%= resources.metal %> )
      document.getElementById('metal_resource').innerHTML = v;
      v = Math.floor ( ( d.getTime() / 1000 - <%=resources.checkpointTime %> ) * 60 / 3600  + <%= resources.clay %> )
      document.getElementById('clay_resource').innerHTML = v;
      v = Math.floor ( ( d.getTime() / 1000 - <%=resources.checkpointTime %> ) * 60 / 3600  + <%= resources.food %> )
      document.getElementById('food_resource').innerHTML = v;
      //var t = setTimeout(startTime, 1000);
    }
    setInterval(setResources, 1000);
    </script>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>